@import url(../fonts/style.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #CEEBF6;
}
.wrapper{
    overflow: hidden;
}

/*Главная страница*/
.header{
    width: 1920px;
    height: 140px;
    background-color: #F5F5F5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.logo-menu{
    margin: 0 auto;
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 400px;
    height: 100%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Inter-Regular';
    font-size: 32px;
}
.account{
    width: 260px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter-Regular';
    font-size: 20px;
}

/*Первая секция*/
.main-deans{
    margin-top: 150px;
}
.deans{
    width: 1660px;
    height: 510px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.deans-block-one{
    width: 400px;
    height: 510px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.deans-block{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter-Regular';
    font-size: 32px;
}
.deans-block-img{
    width: 100%;
    height: 400px;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deans-block-two{
    width: 1100px;
    height: 400px;
    background-color: #D9D9D9;
    border-radius: 20px;
}
.deans-block-two-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter-Regular';
    font-size: 32px;
}


.main-deans-tasks{
    margin-top: 100px;
}
.tasks-block{
    width: 1660px;
    height: 410px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.tasks-block-header{
    width: 565px;
    height: 40px;
    margin: 0 auto;
    font-family: 'Lobster-Regular';
    font-size: 32px;
}
.tasks-block-list{
    width: 1660px;
    height: 320px;
    font-family: 'Inter-Regular';
    font-size: 24px;
    line-height: 40px;
}


.main-deans-information{
    margin-top: 150px;
}
.information-block{
    width: 1520px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.information-block-one{
    width: 700px;
    height: 560px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.information-block-one-header{
    width: 380px;
    height: 80px;
    text-align: center;
    font-family: 'Inter-Regular';
    font-size: 32px;
    line-height: 40px;
    margin: 0 auto;
}
.information-block-one-main{
    width: 700px;
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.information-block-one-icons{
    width: 100%;
    display: flex;
    gap: 20px;
    font-family: 'Inter-Regular';
    font-size: 32px;
}
.information-block-one-text{
    width: 700px;
    height: 150px;
    font-family: 'Inter-Regular';
    font-size: 32px;
    line-height: 50px;
}

.information-block-two{
    width: 540px;
    height: 700px;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-deans-specialization{
    margin-top: 150px;
}
.specialization-block{
    width: 1615px;
    height: 685px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.specialization-block-header{
    font-family: 'Lobster-Regular';
    font-size: 32px;
}
.specialization-block-list{
    width: 1555px;
    height: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.specialization-block-one{
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: space-between;
}
.specialization-block-one-main{
    width: 711px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: 'Inter-Regular';
    font-size: 24px;
    line-height: 40px;
}
.specialization-block-one-img{
    width: 260px;
    height: 240px;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Футер*/
.footer-section{
    margin-top: 150px;
}
.footer-block{
    width: 1920px;
    height: 370px;
    background-color: #F5F5F5;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-block-menu{
    width: 1420px;
    height: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-block-menu-text{
    width: 130px;
    height: 155px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family:'Inter-Regular';
    font-size: 20px;
}
.footer-block-menu-logo{
    width: 400px;
    height: 140px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Inter-Regular';
    font-size: 32px;
}
.footer-block-menu-icons{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
/*Регистрация*/
.header{
    width: 1920px;
    height: 140px;
    background-color: #F5F5F5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.logo{
    width: 400px;
    height: 100%;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Inter-Regular';
    font-size: 32px;
}
/*Лого блок*/
.authorization-logo-block{
    margin-top: 100px;
    width: 100%;
}
.authorization-logo-center{
    width: 545px;
    height: 520px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.authorization-logo{
    width: 100%;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-family:'Lobster-Regular';
    font-size: 36px;
}
.authorization-logo-color{
    width: 100%;
    height: 300px;
    background-color: #D9D9D9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authorization-logo-text{
    width: 100%;
    height: 120px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-family:'Inter-Regular';
    font-size: 24px;
}

/*Форма авторизации*/
.authorization-form-block{
    margin-top: 50px;
    width: 100%;
    height: 680px;
}
.authorization-form-center{
    width: 1100px;
    margin: 0 auto;
    height: 100%;
    background-color: #F5F5F5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.authorization-form-block-text{
    width: 910px;
    height: 506px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.authorization-form-header{
    width: 695px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-family:'Lobster-Regular';
    font-size: 40px;
}
.authorization-form-header a{
    font-size: 40px;
    text-decoration: none;
    color: black;
}
.authorization-form{
    width: 820px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.authorization-form-login{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.authorization-form-login p{
    font-family:'Inter-Regular';
    font-size: 24px;
}
.authorization-form-login input{
    width: 100%;
    height: 80px;
    background-color: #FFEBCD;
    border: none;
    outline: none;
    border-radius: 20px;
}
.authorization-form-login input::placeholder{
    padding-left: 20px;
    font-family:'Inter-Regular';
    font-size: 20px;
    color: #7B7B7B;
}

.authorization-form-password{
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.authorization-form-password p{
    font-family:'Inter-Regular';
    font-size: 24px;
}
.authorization-form-password input{
    width: 100%;
    height: 80px;
    background-color: #FFEBCD;
    border: none;
    outline: none;
    border-radius: 20px;
}
.authorization-form-password input::placeholder{
    padding-left: 20px;
    font-family:'Inter-Regular';
    font-size: 20px;
    color: #7B7B7B;
}
.authorization-form-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.authorization-form-button button{
    width: 260px;
    height: 50px;
    background-color: #FFEBCD;
    border: none;
    outline: none;
    border-radius: 20px;
    font-family:'Inter-Regular';
    font-size: 20px;
}

/*добавление студента*/
.adding-student-form-block{
    margin-top: 150px;
}
.adding-student-form-center{
    width: 1100px;
    height: 1010px;
    margin: 0 auto;
    background-color: #F5F5F5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.adding-student-form-text{
    width: 910px;
    height: 860px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.adding-student-form-header{
    width: 690px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-family:'Lobster-Regular';
    font-size: 40px;
}

.adding-student-form{
    width: 820px;
    height: 730px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.adding-student-form-element{
    width: 820px;
    height: 80px;
}
.adding-student-form-element input{
    width: 100%;
    height: 80px;
    background-color: #FFEBCD;
    border-radius: 20px;
    border: none;
    outline: none;
}
.adding-student-form-element input::placeholder{
    padding-left: 20px;
    font-family:'Inter-Regular';
    font-size: 20px;
    color: #7B7B7B;
}
.adding-student-form-element-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.adding-student-form-element-button button{
    width: 260px;
    height: 50px;
    background-color: #FFEBCD;
    border: none;
    outline: none;
    border-radius: 20px;
    font-family:'Inter-Regular';
    font-size: 20px;
}

/*Добавление сотрудника*/
/*Добавление форма*/
.adding-form-block{
    margin-top: 150px;
}
.adding-form-center{
    width: 1100px;
    height: 1010px;
    margin: 0 auto;
    background-color: #F5F5F5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.adding-form-block-text{
    width: 910px;
    height: 835px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.adding-form-header{
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-family:'Lobster-Regular';
    font-size: 40px;
}
.adding-form{
    width: 825px;
    height: 730px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.adding-form-element{
    width: 820px;
    height: 80px;
}
.adding-form-element input{
    width: 100%;
    height: 80px;
    background-color: #FFEBCD;
    border-radius: 20px;
    border: none;
    outline: none;
}
.adding-form-element input::placeholder{
    padding-left: 20px;
    font-family:'Inter-Regular';
    font-size: 20px;
    color: #7B7B7B;
}
.adding-form-element-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.adding-form-element-button button{
    width: 260px;
    height: 50px;
    background-color: #FFEBCD;
    border: none;
    outline: none;
    border-radius: 20px;
    font-family:'Inter-Regular';
    font-size: 20px;
}

/*Добавление группы*/
.adding-group-form-block{
    margin-top: 150px;
}
.adding-group-form-center{
    width: 1100px;
    height: 700px;
    margin: 0 auto;
    background-color: #F5F5F5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.adding-group-form-text{
    width: 910px;
    height: 530px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.adding-group-form-header{
    width: 660px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-family:'Lobster-Regular';
    font-size: 40px;
}
.adding-group-form{
    width: 820px;
    height: 380px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.adding-group-form-element{
    width: 820px;
    height: 80px;
}
.adding-group-form-element input{
    width: 100%;
    height: 80px;
    background-color: #FFEBCD;
    border-radius: 20px;
    border: none;
    outline: none;
}
.adding-group-form-element input::placeholder{
    padding-left: 20px;
    font-family:'Inter-Regular';
    font-size: 20px;
    color: #7B7B7B;
}
.adding-group-form-element-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.adding-group-form-element-button button{
    width: 260px;
    height: 50px;
    background-color: #FFEBCD;
    border: none;
    outline: none;
    border-radius: 20px;
    font-family:'Inter-Regular';
    font-size: 20px;
}

/*Добавление группы*/
.adding-discipline-form-block{
    margin-top: 150px;
}
.adding-discipline-form-center{
    width: 1100px;
    height: 810px;
    margin: 0 auto;
    background-color: #F5F5F5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.adding-discipline-form-text{
    width: 910px;
    height: 635px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.adding-discipline-form-header{
    width: 705px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-family:'Lobster-Regular';
    font-size: 40px;
}

.adding-discipline-form{
    width: 820px;
    height: 490px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.adding-discipline-form-element{
    width: 820px;
    height: 80px;
}
.adding-discipline-form-element input{
    width: 100%;
    height: 80px;
    background-color: #FFEBCD;
    border-radius: 20px;
    border: none;
    outline: none;
}
.adding-discipline-form-element input::placeholder{
    padding-left: 20px;
    font-family:'Inter-Regular';
    font-size: 20px;
    color: #7B7B7B;
}
.adding-discipline-form-element-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.adding-discipline-form-element-button button{
    width: 260px;
    height: 50px;
    background-color: #FFEBCD;
    border: none;
    outline: none;
    border-radius: 20px;
    font-family:'Inter-Regular';
    font-size: 20px;
}

/*Добавление фиксации успеваемости*/
.adding-of-academic-perfomance{
    margin-top: 150px;
}
.adding-of-academic-performance-center{
    width: 1100px;
    height: 925px;
    margin: 0 auto;
    background-color: #F5F5F5;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.adding-of-academic-performance-text{
    width: 910px;
    height: 745px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.adding-of-academic-performance-header{
    width: 710px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    font-family:'Lobster-Regular';
    font-size: 40px;
}

.adding-of-academic-performance-form{
    width: 820px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.adding-of-academic-perfomance-element{
    width: 820px;
    height: 80px;
}
.adding-of-academic-perfomance-element input{
    width: 100%;
    height: 80px;
    background-color: #FFEBCD;
    border-radius: 20px;
    border: none;
    outline: none;
}
.adding-of-academic-perfomance-element input::placeholder{
    padding-left: 20px;
    font-family:'Inter-Regular';
    font-size: 20px;
    color: #7B7B7B;
}
.adding-of-academic-perfomance-element-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.adding-of-academic-perfomance-element-button button{
    width: 260px;
    height: 50px;
    background-color: #FFEBCD;
    border: none;
    outline: none;
    border-radius: 20px;
    font-family:'Inter-Regular';
    font-size: 20px;
}